
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    grid-template-rows: 1fr;
    height: 293px;
    width: 100%;
    padding: 92px 0 95px 0;
}

.header__menu {
    align-self: center;
    justify-self: start;
    padding-left: 19px;
}

.header__links-list {
    display: flex;
    justify-content: space-around;
    list-style: circle;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.header__links-list-item {
    margin-left: 33px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {

}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    justify-self: end;
    align-self: center;
    padding-right: 85px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.header__address {
    display: flex;
    flex-direction: column;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 757px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -137px 1px;
    z-index: -2;
    color: #fff;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    padding-top: 164px;
    font-size: 100px;
    letter-spacing: 0.3em;
}

.cover__text {
    display: block;
}

.big-letter-spacing {
    letter-spacing: 0.6em;
}

.aligned-text {
    padding-left: 50px;
}

.aligned-text_center {
    text-align: center;
    line-height: 140%;
}

.aligned-text_right {
    padding-right: 20px;
    text-align: right;
    line-height: 100%;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 51px 78px;
}

.cover__description-text {
    display: block;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 0.9em;
}

.cover__description-text_spacing2 {
    word-spacing: 0.8em;
}

.cover__description-text_spacing3 {
    word-spacing: 0.9em;
}

.bet-button {
    width: 256px;
    height: 51px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

.lots {
    padding-top: 180px;
}

.lots__heading {
    padding-left: 64px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-transform: uppercase;
    text-align: left;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin: 26px 24px 0 24px;
    list-style-type: none;
}

.lots__card-list-item {
    display: block;
    position: relative;
    height: 562px;
    color: #fff;
}

.overlay {
    position: absolute;
}

.card-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -102px;
    text-decoration: none;
    height: 100%;
    padding: 50px 40px 46px 40px;
}

/*.card {
    height: 100%;
    margin: 10px 20px 20px 20px;
}*/

.card__title {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration: underline;
}

.card__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.lots__look-more-link {
    display: block;
    padding: 32px 0 0 64px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    text-align: left;
    text-decoration: underline;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    z-index: -2;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.about {
    padding: 182px 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "logo title title"
    ". info info";
    column-gap: 24px;
    row-gap: 10px;
}

.about__column {

}

.about__logo {
    width: 240px;
    height: 240px;
    justify-self: center;
    align-content: center;
    grid-area: logo;
    background-color: black;
    border-radius: 120px;
}

.about__logo-image {
    height: 47.5%;
    
}

.about__title {
    grid-area: title;
    padding: 6px 0 0 0;
    align-self: center;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.about__text {
    grid-area: info;
    padding-right: 5px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    word-spacing: 0;
    /*line-height: 24px;*/
    text-align: left;
}

.about__text p {
    padding-bottom: 22px;
}
